.dialog-pane {
    -fx-padding: 20px;
}
.dialog-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

MFXButton {
    -fx-background-color: #6200EE;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.5, 0, 0);
}
MFXButton:hover {
    -fx-background-color: #5a00d9;
}

.cancel-button {
    -fx-background-color: #DD2222;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}
.cancel-button:hover {
    -fx-background-color: #FF0000;
}

TextArea {
    -fx-padding: 0px;
    -fx-font-size: 14px;
    -fx-focuscolor: #6200EE;
    -fx-border-radius: 8px;
}